name: CI
on: [push, pull_request]
jobs:
  ci-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
      - name: Install dependencies
        run: npm install
      - name: Lint
        run: npm run lint
      - name: Format check
        run: npm run format:check
      - name: Type check
        run: npm run type-check --workspaces
      - name: Test
        run: npm test
      - name: Coverage
        run: npm run test:coverage -w backend
